

/* ===================================
   Partners Slider
====================================== */

.lastest-blog {
    padding-top: 200px;
    padding-bottom: 250px;
    background-color: #202020;
}

#blog-header-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateX(180deg);
}

#blog-foot-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);
}

.lastest-blog .blog-content h1{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.lastest-blog .blog-content h1 span{
    font-size: 60px;
    color: #e8d716;
}

.lastest-blog .blog-content p{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 35px;
}

.lastest-blog .blog-img{
    position: relative;
    width: 90%;
    top: 35px;
}
.lastest-blog .blog-img img{
    width: 100%;
}
.lastest-blog .blog-img .slider-img{
    width: 83%;
    position: absolute;
    left: 50.5%;
    top: 38%;
    transform: translate(-50%, -50%);
}


.lastest-blog .circle{
    position: absolute;
    z-index: 1111;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
}

#blog-circle-left{
    position: absolute;
    top: 104px;
    left: -100px;
    color: #ffffff;
    opacity: 0;
    transition: .5s ease all;
}


#blog-circle-right{
    position: absolute;
    right: -40px;
    color: #ffffff;
    bottom: 165px;
    opacity: 0;
    transition: .5s ease all;
}

.lastest-blog:hover #blog-circle-right , .lastest-blog:hover #blog-circle-left{
    opacity: 1;
}


.lastest-blog .pot-2{
    position: absolute;
    z-index: 1111;
    left: 450px;
    bottom: 30px;
}



/* ===================================
      Contact sec css
====================================== */

.contact-sec{
    padding-bottom:0;
}

.contact-sec .heading{
    color: #202020;
    font-size: 40px;
    margin-bottom: 40px;
}
.contact-sec .contact-form{
    width: 95%;
}
.contact-sec .contact-form input{
    color: #8799a3;
    font-size: 16px;
    height: 50px;
    padding: 25px;
}
.contact-sec .contact-form .form-control{
    border-radius: 0;
    border:solid 2px #eceef2;
}
.contact-sec .contact-form input::placeholder{
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form textarea{
    padding: 13px;
    padding-left: 25px;
    height: 202px;
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form .purple-btn{
    margin-top: 15px;
}

/*contact details*/
.contact-sec .contact-background{
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -1;
}
.contact-sec .contact-details{
    font-family: Roboto, sans-serif;
    width: 90%;
    margin-left: 20px;
}
.contact-sec .contact-details .heading{
    margin-bottom: 35px;
}
.contact-sec .contact-details .text{
    color: #202020;
    opacity: .8;
}
.contact-sec .contact-details ul{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 50px;
}
.contact-sec .contact-details ul li{
    color: #202020;
    opacity: .8;
    list-style: none;
    margin-bottom: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.contact-sec .contact-details ul li:first-child{
    width: 60%;
}
.contact-sec .contact-details ul li span{
    display: inline-block;
    padding-right: 30px;
}
.contact-sec .contact-details ul li span:last-child{
    padding-right: 0;
}
.contact-sec .contact-details ul li i{
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 8px;
    color: #a4dbda;
}
.contact-sec .contact-details ul li i.addr{
    color: #f71c52;
    font-size: 44px;
}
.contact-sec .contact-details ul li i.phone{
    color: #554c86;
}
.contact-sec .contact-details ul li i.email{
    color: #39d47a;
    transform: rotate(-30deg);
}


/* ===================================
   Footer
====================================== */

.footer-style-1{
    padding: 5rem 0;
}

.footer-social ul{
    margin: 0;
    padding: 0;
}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-social li:nth-last-child(1) a{
    margin-right: 0;
}

.footer-social li a:hover{
    background-color:#39c5de;
    color: #ffffff;
}

.company-about{
    font-size: 14px;
}


/* ===================================
   Scroll Top
====================================== */

.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #02aeb3;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #02aeb3; }



/* ===================================
    Background images
====================================== */

.bg-img1{
    /*background-image: url("../img/cover-background.jpg");*/
}

.bg-img2{
    /*background-image: url("../img/testimionial.jpg");*/
}

[class*=bg-img]{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}



/**/
/*STAND ALONE PAGE*/


.standalone-row:not(:last-child) {
    margin-bottom: 3rem;
}
.standalone-row .stand-img-des{
    padding-left: 30px;
    text-align: center;
}
.standalone-row:nth-child(2) .stand-img-des{
    padding-left: 0;
    padding-right: 30px;
}
.standalone-detail .sub-heading{
    color: #e8d716;
    margin-bottom: 10px;
}
.standalone-area .sub-heading{
    color: #e8d716;
    margin-bottom: 8px;
}
.standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 50px;
    color: #202020;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.standalone-detail .para_text{
    color: #202020;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    line-height: 2.1;
}

.standalone-detail{
    padding-bottom: 100px;
}
.standalone-area .gradient-text1{
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
.standalone-area .stand-img-des .para_text{
    font-family: 'Roboto', sans-serif;
    color: #202020;
}


/* ===================================
   Fix Nav
====================================== */

.fixed-nav-on-scroll{
    background-color: #202020;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1111;
    width: 100px;
    padding: 20px 10px;
    animation: .5s fadeInRight;
}

.fixed-nav-on-scroll .row{
    /*width: 0%;*/
}
.fixed-nav-on-scroll .logo-fixed-scroll{
    width: 50%;
    display: inline-block;
    float: left;
}
.fixed-nav-on-scroll .logo-fixed-scroll img{
    width: 100%;
    margin: auto;
    display: inline-block;
}

.fixed-nav-on-scroll .fixed-icon-scroll {
    display: inline-block;
    width: 30%;
    float: right;
    margin-left: 10%;
}
.fixed-nav-on-scroll .fixed-icon-scroll i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}

.fixed-nav-appear{
    display: block;
}

/*.fixed-nav-on-scroll .box-content img{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/


/* ===================================
   Other Page
====================================== */

.page-title{
    position:relative;
    text-align:center;
    background:url("../img/standalone.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.standalone-content-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#standalone-svg{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    transform: rotateY(-180deg);
    z-index: 1;
    height: 150px;
}

.page-title .auto-container{
    position:relative;
}

.page-title h2{
    position:relative;
    color:#202020;
    font-weight:600;
    line-height:1.2em;
    margin-bottom: 10px;
    font-size:4rem;
    text-transform:capitalize;
}

.page-breadcrumb{
    position:relative;
}

.page-breadcrumb li{
    position:relative;
    display:inline-block;
    margin-right:10px;
    padding-right:15px;
    color:#202020;
    font-size:14px;
    font-weight:400;
    text-transform:capitalize;
}

.page-breadcrumb li:after{
    position:absolute;
    content: "\f101";
    right:-5px;
    top:1px;
    color:#202020;
    font-size:14px;
    font-weight:900;
    font-family: "Font Awesome 5 Free";
}

.page-breadcrumb li:last-child::after{
    display: none;
}

.page-breadcrumb li:last-child{
    padding-right:0px;
    margin-right:0px;
}


.page-breadcrumb li a{
    color:#202020;
    font-weight:400;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    font-size: 17px;
}

.page-breadcrumb li a .icon{
    margin-right:4px;
    color:#202020;
}

.page-breadcrumb li a:hover{
    color:#ffffff;
}


/* ===================================
        Preloader
====================================== */

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 11111111;
    background: #FFFFFF;
}

.spinner {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 16px;
    height: 16px;
    border: 5px solid #dbd527;
    background-color: #fff;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}


.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}



.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}


@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.4) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.25);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}





/* ===================================
    Media Queries
   ====================================== */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}



@media (min-width: 991px) and (max-width: 1069px) {
    .sidemenu_btn{
        display: none;
    }
}


@media screen and (max-width:767px){

    section{
        padding: 4.5rem 0;
    }
    .home-banner{
        padding: 7rem 0 4.5rem;
    }
    .sidemenu_btn{
        position: relative;
        right: 0;
        margin: 0;
    }
    .parallax-box {
        padding: 1.5rem 0;
    }
    .parallax-box i {
        font-size: 2.2rem;
    }
    .parallax-box h2 {
        font-size: 2.2rem;
    }
    .parallax-box h5 {
        font-size: 1rem;
    }

    .partners-slider {
        margin:0;
    }

    .slider-right {
        float: none;
        margin-top: 5rem;
    }

    .heading-box h2 {
        font-size: 2.3rem;
        line-height: 1.1;
    }
    .heading-area{
        margin-bottom: 3rem;
    }
    .heading-area .title {
        font-size: 2rem;
    }
    #blog .heading-area {
        margin: 0;
        padding: 4.5rem 0;
    }
    .address-item{
        margin: 3rem 0;
    }
    .footer-social{
        margin-bottom: 1rem;
    }
    .side-menu {
        width: 380px;
    }


}


@media screen and (max-width:991px){

    body{
        text-align: center;
    }

    .home-banner{
        padding: 10rem 0 7.5rem;
    }
    .sidemenu_btn{
        position: relative;
        right: 0;
        margin: 0;
    }

    .slider-right {
        float: none;
        margin-top: 6rem;
    }

    .heading-box h2 {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    .heading-area{
        margin-bottom: 3rem;
    }

    .heading-area .title {
        font-size: 2.5rem;
    }

    .services-skill{
        margin-bottom: 2rem;
    }

    .team-item{
        margin-top: 4rem;
    }

    .about-list li{
        display: inline-block;
    }

    .testimonial-post{
        display: inline-block;
    }

    .testimonial-post .post{
        display: inline-block;
    }

    #blog .col-lg-4:not(:nth-last-child(1)) .news-item{
        margin-bottom: 3rem;
    }

    #blog .heading-area {
        margin: 0;
        padding: 7.5rem 0;
    }
    .address-item{
        margin: 3rem 0;
    }
    .footer-social{
        margin-bottom: 1rem;
    }
    .blog-comment{
        margin-bottom: 4rem;
    }
    .page-title h2{
        font-size: 2.5rem;
    }
    .blog-post-navigation{
        padding: 4rem 0;
    }

    /* STANDALONE */
    .standalone-detail {
        padding-bottom: 70px;
    }

    .standalone-area .gradient-text1{
        font-size: 30px;
    }

    .standalone-detail .heading{
        font-size: 30px;
    }

    .standalone-area .sub-heading {
        margin-top: 3rem;
    }

    .standalone-row .stand-img-des {
        padding-left: 0;
        padding-right: 0;
    }

    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 0;
        padding-right: 0;
    }

    .standalone-row:nth-child(2){
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:991px){

    .side-menu .btn-close {
        top: 38px;
        right: 40px;
    }
    .side-nav .navbar-nav .nav-item {
        display: block;
    }
    .side-nav .navbar-nav{
        margin-bottom: 50px;
    }
    /*toggle btn*/
    .sidemenu_btn {
        position: absolute;
        right: 150px;
        top: 90px;
    }
    .sidemenu_btn i {
        font-size: 30px;
        color: #202020;
    }
    /*side menu*/
    #site-mmenu-svg {
        bottom: 0;
        height: 100px;
    }
    .side-menu .side-nav {
        margin-bottom: 0;
    }
    /*banner*/
    .banner{
        position: relative;
    }
    .banner .banner-row {
        height: 160vh;
        padding-top: 200px;
        width: 60%;
        margin: 0 auto;
    }
    .banner-text-right {
        padding-bottom: 50px;
        margin-right: 0;
        transform: translateY(-70px);
    }

    /*ABOUT SEC*/
    #about-header-svg {
        height: 100px;
        top: -100px;
    }

    .about-sec {
        padding-top: 50px;
    }
    .about-sec .services-area .services:nth-child(3), .about-sec .services-area .services:nth-child(4) {
        transform: translateX(0px);
    }
    .about-sec .services-area .services:last-child .service-card, .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 80px;
    }
    .service-details {
        transform: translateY(0px);
        margin-bottom: 80px;
    }
    .service-details h1 {
        font-size: 60px;
    }

    .service-details p {
        width: 100%;
    }
    #banner_svg {
        bottom: -1px;
        height: 100px;
    }
    .about-sec img {
        left: 150px;
        bottom: -179px;
        width: 50%;
    }

    /*Skill Section Css*/
    .skill-sec .skill-details .title {
        font-size: 60px;
    }
    .skill-sec .skill-bars .progress-item:nth-child(even) {
        padding-left: 0;
    }
    .skill-sec .skill-bars .progress-item {
        padding-right: 0;
    }
    .skill-sec .skill-bars .progress-item {
        width: 100%;
    }

    /*Team section css*/
    #team-header-svg {
        top: -1px;
        height: 160px;
    }
    .team-section {
        padding-top: 180px;
    }
    .team-section .team-details .title {
        font-size: 45px;
    }
    .team-section .circle {
        display: none;
    }
    .testimonial-team .owl-item.center .item {
        margin-top: 0;
    }
    .testimonial-team .owl-item.center ~ .owl-item .item {
        margin-top:0;
    }
    #team-foot-svg {
        bottom: -1px;
        height: 150px;
    }

    /*Portfolio section css*/
    .portfolio-sec .heading {
        font-size: 60px;
    }
    .portfolio-sec #js-loadMore-lightbox-gallery.active {
        margin-top: 30px;
    }


    /*Testimonial section css*/
    .testimonial-sec {
        padding-top: 200px;
        padding-bottom: 150px;
    }
    #testimonial-header-svg {
        top: -1px;
        height: 150px;
    }
    .testimonial-sec .testimonial-title .heading {
        font-size: 45px;
    }
    #testimonial-foot-svg {
        bottom: -1px;
        height: 150px;
    }
    /*sponsers section css*/


    /*Blog section Css*/
    #blog-header-svg {
        top: -1px;
        height: 150px;
    }
    .lastest-blog .blog-content h1 {
        font-size: 60px;
    }
    .lastest-blog .blog-content h1 span {
        font-size: 60px;
    }
    .lastest-blog .blog-img {
        width: 100%;
    }
    .lastest-blog .pot-2 {
        position: absolute;
        z-index: 1111;
        left: 322px;
        bottom: 20px;
        width: 19%;
    }
    #blog-foot-svg {
        position: absolute;
        bottom: -1px;
        height: 150px;
    }
    .lastest-blog .circle {
        display: none;
    }
    .contact-sec .contact-form {
        width: 100%;
        margin-left: 0;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: 100%;
    }
    .contact-sec .contact-details ul li {
        display: block;
        margin-bottom: 30px;
    }
    .contact-sec .contact-details ul li i{
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width:855px){
    .sidemenu_btn {
        right: 90px;
    }
}
/*@media (max-width: 575.98px) {*/
@media (max-width: 767px) {
    /*toggle btn*/
    .sidemenu_btn {
        position: absolute;
        right: 130px;
        top: 92px;
    }
    .sidemenu_btn i {
        font-size: 30px;
        color: #202020;
    }
    /*side menu*/
    #site-mmenu-svg {
        bottom: 0;
        height: 100px;
    }
    .side-menu .side-nav {
        margin-bottom: 0;
    }
    /*banner*/
    .banner{
        position: relative;
    }
    .banner .banner-row {
        /*height: 110vh;*/
        /*padding-top: 200px;*/
        width: 80%;
    }
    .banner-text-right {
        padding-bottom: 50px;
        margin-right: 0;
        transform: translateY(-70px);
    }

    /*ABOUT SEC*/
    #about-header-svg {
        height: 100px;
        top: -99px;
    }

    .about-sec {
        padding-top: 50px;
    }
    .about-sec .services-area .services:nth-child(3), .about-sec .services-area .services:nth-child(4) {
        transform: translateX(0px);
    }
    .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 80px;
    }
    .service-details {
        transform: translateY(0px);
        margin-bottom: 80px;
    }
    .service-details h1 {
        font-size: 45px;
    }

    .service-details p {
        width: 100%;
    }
    #banner_svg {
        bottom: -1px;
        height: 100px;
    }
    .about-sec img {
        left: 100px;
        bottom: -91px;
        width: 60%;
    }

    /*Skill Section Css*/
    .skill-sec .skill-details .title {
        font-size: 45px;
    }
    .skill-sec .skill-bars .progress-item:nth-child(even) {
        padding-left: 0;
    }
    .skill-sec .skill-bars .progress-item {
        padding-right: 0;
    }
    .skill-sec .skill-bars .progress-item {
        width: 100%;
    }

    /*Team section css*/
    #team-header-svg {
        top: -2px;
        height: 100px;
    }
    .team-section {
        padding-top: 150px;
    }
    .team-section .team-details .title {
        font-size: 45px;
    }
    .team-section .circle {
        display: none;
    }
    .testimonial-team .owl-item.center .item {
        margin-top: 0;
    }
    .testimonial-team .owl-item.center ~ .owl-item .item {
        margin-top:0;
    }
    #team-foot-svg {
        bottom: -1px;
        height: 100px;
    }

    /*Portfolio section css*/
    .portfolio-sec .heading {
        font-size: 45px;
    }
    .portfolio-sec #js-loadMore-lightbox-gallery.active {
        margin-top: 30px;
    }
    .blue-and-black-btn {
        padding: 7px 30px;
    }

    /*Testimonial section css*/
    #testimonial-header-svg {
        top: -1px;
        height: 100px;
    }
    .testimonial-sec .testimonial-title .heading {
        font-size: 45px;
    }
    #testimonial-foot-svg {
        bottom: -2px;
        height: 100px;
    }
    /*sponsers section css*/

    .brand-sec .partners-slider .owl-item:nth-child(2) .logo-item{
        margin-top: 0px;
    }

    .brand-sec .partners-slider .owl-item:nth-child(3) .logo-item{
        margin-top: 0px;
    }

    .brand-sec .partners-slider .owl-item:nth-child(4) .logo-item{
        margin-top: 0px;
    }

    /*Blog section Css*/
    #blog-header-svg {
        top: -1px;
        height: 100px;
    }
    .lastest-blog .blog-content h1 {
        font-size: 45px;
    }
    .lastest-blog .blog-content h1 span {
        font-size: 45px;
    }
    .lastest-blog .blog-img {
        width: 100%;
    }
    #blog-foot-svg {
        position: absolute;
        bottom: -1px;
        height: 100px;
    }
    .contact-sec .contact-form {
        width: 100%;
        margin-left: 0;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: 100%;
    }
    .contact-sec .contact-details ul li {
        display: block;
        margin-bottom: 30px;
    }
    .contact-sec .contact-details ul li i{
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }

    /*standalone svg*/
    #standalone-svg{
        height:100px;
    }
}

@media (max-width: 622.98px) {
    .sidemenu_btn {
        right: 80px;
    }
}

@media (max-width: 575.98px) {

    .side-menu {
        width: 100%;
    }

    .sidemenu_btn {
        right: 27px;
    }
    .banner .banner-row {
        height: 110vh;
        padding-top: 200px;
        width: 100%;
    }

    .navbar .navbar-brand img {
        max-width: 50px;
    }

    .sidemenu_btn {
        right: 27px;
        top: 96px;
    }

    .lastest-blog .pot-2 {
        left: 100px;
        bottom: 0px;
        width: 40%;
    }

    .contact-social-icons .upper-social-icons li a {
        height: 30px;
        width: 30px;
    }

    .side-menu {
        width: 100%;
    }

    .side-menu .inner-wrapper {
        padding-top: 0;
    }

    .side-menu .navbar-brand img {
        width: 50%;
    }

    .side-nav .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

}
@media (max-width: 360.98px) {
    .banner .banner-row {
        height: 140vh;
        padding-top: 200px;
        width: 100%;
    }

    .side-menu .inner-wrapper {
        padding: 0 5rem;
    }
    .side-menu .navbar-brand {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .side-nav .navbar-nav {
        margin-bottom: 45px;
    }
}

@media (max-width: 400px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .sidemenu_btn {
        top: 105px !important;
    }
}


@media (max-width: 320px) {

    .contact-social-icons .upper-social-icons li a {
        height: 15px;
        width: 15px;
    }
    .upper-nav .contact-info {
        font-size: 13px;
    }

    .sidemenu_btn {
        top: 87px;
    }
}



@media (min-width: 1200px) and (max-width: 1599px) {

    /*custom classes*/
    .btn.btn-large {
        font-size: 14px;
        padding: 7px 30px;
        line-height: 1.8em;
    }
    /*Banner SECTION*/
    #banner_svg{
        height: 100px;
    }

    .banner-text-right {
        padding: 30px 20px;
    }

    .banner-text-left h1 {
        font-size: 50px;
    }

    .banner-right-area-content h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .banner-text-left p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    /* About Section */

    #about-header-svg{
        height: 100px;
        top: -100px;
    }

    .about-sec .services-area .services .service-card .icon-holder i {
        font-size: 110px;
    }

    .about-sec .services-area .services .service-card .card-heading {
        font-size: 25px;
    }

    .about-sec .services-area .services .service-card {
        margin-bottom: 60px;
    }

    .services-area-width-manage{
        width: 80%;
    }

    /* Skill*/
    .skill-sec .skill-details .title {
        font-size: 50px;
    }
    /* Team */
    .team-section .team-details .title {
        font-size: 50px;
    }
    #team-header-svg {
        height: 100px;
    }

    #team-foot-svg{
        height: 100px;
    }
    #team-circle-left {
        left: -3%;
    }

    #team-circle-right {
        right: -3%;
    }

    /*portfolio-sec*/
    .portfolio-sec .heading {
        color: #202020;
        margin-bottom: 0;
        font-size: 50px;
    }

    /*testimional*/
    #testimonial-header-svg{
        height:100px;
    }

    testimonial-foot-svg{
        height: 100px;
    }

    /*Blog */
    .lastest-blog .blog-content h1 {
        font-size: 50px;
    }

    .lastest-blog .blog-content h1 span {
        font-size: 50px;
    }

    .lastest-blog .circle {
        height: 35px;
        width: 35px;
    }

    #blog-circle-left {
        left: -50px;
    }
    #blog-circle-right {
        right: -5px;
    }

}

@media (min-width: 1600px) {
    .sidemenu_btn {
        margin-right: 5rem;
    }
    .banner-text-right {
        margin-right: 80px;
    }
    .banner-row{
        padding-top: 0;
    }
    /* About Section */
    .services-area-width-manage{
        width: 100%;
    }
    /* Team Section */
    #team-circle-left {
        top: 40%;
    }

}

@media screen and (min-width: 1900px){
    .about-sec img {
        left: 410px;
    }
    .lastest-blog .pot-2 {
        left: 500px;
    }
}



